body {
	background-color: #FFF;
	font-family: "Times New Roman", Times, serif;
	background-image: none;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003;
	border-right-color: #003;
	border-bottom-color: #003;
	border-left-color: #003;
	margin: 1px;
	padding: 1px;
	color: #000;
	font-size:24px;
}

/* Hide the images on small screens*/
.hide-small {
	visibility:hidden;
}

@media only screen and (min-width: 481px) {
	.hide-small {
		visibility:visible;
		max-width:80px;
		height: auto;
	}
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
nav {
	font-weight: bold;
}
nav {
	font-size: 24px;
}
footer{
	width: 100%;
	}
.tr-header{
	width: 100%;
	}

table{
	margin: 2px;
	width: 100%;
	padding: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	background-color: #CCC;
}
.bodycontent
 { 
	width: 100%; 
	float: left;

}
.leftcolumn { 
	width: 75%; 
	float: left;
	margin-bottom: 1em;
	background-color: white;
}
.rightcolumn { 
	width: 25%; 
	float: left;
	margin-bottom: 1em;
	background-color: white;
}

li.menuitem {
	display:list-item;
	float: left;
    width: 100px;
    background-color: #dddddd;
    border: 1px solid blue;
    border-radius: 40px;
    color: blue;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
@media only screen and (min-width: 481px) {
li.menuitem {
	display: inline;
	float: left;
    width: 15%;
    background-color: #dddddd;
    border: 1px solid blue;
    border-radius: 40px;
    color: blue;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
}


.td-section1{
	background-color: #ffffff;
	text-align:left;
	vertical-align:top;
	width:75%;
	}
.td-section2{
	background-color: #ffffff;
	width:25%;
}
.td-logo {
	float: right;
	width: 20%;
 	height: auto;
}
.logo {
	max-width:150px;
 	height: auto;
	float: right;
}
a:visited {
    color: green;
}
.menuitem:hover {
    background-color: white;
}
.menuitem:visited {
    background-color: blue;
    color: white;
}
a {
    color: blue;
    text-decoration: none;
	
}
#menulist {
    padding:0;
    font: 16px verdana;
}

li {
  border-right: 1px solid #bbb;
}
li a:hover {
  background-color: #555;
  color: white;
  text-decoration: underline;
}
a:active {
  color: blue;
}
